<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="pigeon"></div>
  <span>Pigeonholed</span>
  <div class="spacer"></div>
  <span class="subtitle"> a blog born from trial and error</span>
</div>
<div class="subtoolbar"></div>
<div class="navbar">
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/newpost">New Blog Post</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/profile">Profile</a>
  <a routerLink="/register">Register New User</a>
  <a role="button" (click)="logout()">Logout</a>
</nav>
</div>
<div class="content" role="main">

    <router-outlet></router-outlet>

</div>
<footer>
  <p><a href="mailto:hege@example.com">See our Github!</a></p>
</footer>


